<div class="container">
    <div>
        <h6>Change Log</h6>
        <p>Please note that the change log covers all changes, including beta features. To enjoy all that Spike has to offer, be sure to buy a license. :)</p>
    </div>
    <div class="release">
        <h4>Spike 1.1.0</h4>
        <p class="text-muted">Build 149 - March 6, 2018</p>
        <h6>General Improvements:</h6>
        <ul>
            <li>Converted Launcher to Objective-C to reduce application size</li>
        </ul>
    </div>
    <div class="release">
        <h4>Spike 1.1.0</h4>
        <p class="text-muted">Build 148 - February 26, 2018</p>
        <h6>New Features:</h6>
        <ul>
            <li>Addition of proxy port use in status menu</li>
        </ul>
        <h6>General Improvements:</h6>
        <ul>
            <li>Additional validation of rules</li>
        </ul>
    </div>
    <div class="release">
        <h4>Spike 1.1.0</h4>
        <p class="text-muted">Build 132 - December 12, 2017</p>
        <h6>New Features:</h6>
        <ul>
            <li>Always rule list
                <ul>
                    <li>Access regardless of reject or bypass rules</li>
                </ul>
            </li>
            <li>Install beta releases (optionally)</li>
            <li>Release notes are viewable in preferences</li>
        </ul>
        <h6>General Improvements:</h6>
        <ul>
            <li>Additional validation of corporate proxy configuration</li>
            <li>Preference changes are immediate (no longer require changing tabs)</li>
        </ul>
    </div>
    <hr />
    <div class="release">
        <h4>Spike 1.0.0</h4>
        <p class="text-muted">Build 88 - January 26, 2017</p>
        <h6>New Features:</h6>
        <ul>
            <li>Initial public release</li>
        </ul>
    </div>
</div>
