<div class="container">
    <div>
        <h6>Change Log</h6>
        <p>Please note that the change log covers all changes, including beta features. To enjoy all that Spike has to offer, be sure to buy a license. :)</p>
    </div>
    <div class="release">
        <h4>Spike 1.2.0</h4>
        <p class="text-muted">Build 162 - September 23, 2018</p>
        <h6>New Features:</h6>
        <ul>
            <li>Addition of proxy server toggle in status menu</li>
        </ul>
        <h6>General Improvements:</h6>
        <ul>
            <li>Additional validation of rules</li>
            <li>macOS Mojave / dark mode enabled</li>
        </ul>
    </div>
    {% include release_notes.html %}
</div>
